extends ../panel-layout

include ../includes/mixins-panel.jade

block prepend content-header
  h1= title


block content
  form(method="post" autocomplete="off")

     .form-group.row
      .mb-2.col-md-6
        label(for="inputUsername") Username:
        input(type="text" class=form.getValidCss("username", "form-control", "form-control is-invalid") id="inputUsername"
              placeholder="Username" name="username" value=form.getValueFor("username"))
        .invalid-feedback
           for err in form.getErrorsFor("username")
             div Username #{err}

     .form-group.row
           .mb-2.col-md-6
             label(for="inputEmail") Email:
             input(type="text" class=form.getValidCss("email", "form-control", "form-control is-invalid") id="inputEmail"
                   placeholder="Email" name="email" value=form.getValueFor("email"))
             .invalid-feedback
                for err in form.getErrorsFor("email")
                  div Email #{err}

     .form-group.row
       .mb-2.col-md-4
          label(for="inputStatus") Status:
          select(id="inputStatus" name="status").form-control
            for status in statuses
               if status == form.getValueFor("status")
                  option(value=status selected)= status
               else
                  option(value=status)= status

     .form-group.row
      .mb-2.col-md-12
        label Roles:
      for role, i in roles
       .mb-2.col-md-12
           .form-check.form-check-inline
              input(type="checkbox" class="form-check-input" name="roleIds" id="inlineCheckbox"+i
                    value=role.id checked=form.getValueFor("roleIds").contains(role.id))
              label(class="form-check-label" for="inlineCheckbox"+i)
                  strong= role.label
                  |  (
                  - var prefix=''
                  for privilege in role.privileges
                    span= prefix+ privilege.label
                    - var prefix=', '
                  | )

     .form-group.row
       .mb-2.col-md-4
              button(type="submit" name="submit" value="back" id="saveAndBackSubmit").btn.btn-secondary.btn-block Save user and back
       .mb-2.offset-md-4.col-md-4
              button(type="submit" name="submit" value="stay" id="saveSubmit").btn.btn-secondary.btn-block Save user
