extends ./main-layout

mixin articleContent(article)
 section
  h1 #{article.title}
  span.author #{article.author}
  span.publicationTime #{article.date.format(dtFormatter)}
  p #{article.content}
  a.back(href="/") Back

block sidebarLeft
  ul
      for item in items
        li #{item}
      else
        li No items

block sidebarRight
  ul
      for item in items
        li #{item}
      else
        li No items

block content
  +articleContent(article)
