extends ./main-layout

mixin articleHead(article)
 section
  h1 #{article.title}
  span.author #{article.author}
  span.publicationTime #{article.date.format(dtFormatter)}
  p #{article.lead}
  a.more(href="/article/"+article.id) More

block sidebarLeft
  h2 SIDEBAR LEFT
  ul
      for item in items
        li #{item}
      else
        li No items

block sidebarRight
  h2 SIDEBAR RIGHT
  ul
      for item in items
        li #{item}
      else
        li No items

block content
  ul
      for article in articles
        +articleHead(article)
      else
        li No articles
