mixin articleHead(article)
 section.articleHead.clearfix
  .tags
    for tag in article.tags
      a(href="/tag/"+tag.id) #{tag.name}
  h1 #{article.title}
  a.author(href="/author/"+article.author.id) #{article.author.firstname + ' ' + article.author.lastname }
  span.publicationTime #{article.date.format(dtFormatter)}
  p #{article.lead}
  a.more(href="/article/"+article.id) More

mixin articleContent(article)
 section
  .tags
     for tag in article.tags
       span #{tag.name}
  h1 #{article.title}
  span.author #{article.author.firstname + ' ' + article.author.lastname }
  span.publicationTime #{article.date.format(dtFormatter)}
  p #{article.content}
  a.back(href="/") Back

mixin tagsBox(tags)
  h3 Tags:
  ul.tags
      for tag in tags
        li
          a(href="/tag/"+tag.id) #{tag.name +' '}
            span #{tag.quantity}
      else
        li No tags

mixin authorsBox(authors)
  h3 Authors:
  ul.authors
      for author in authors
        li
          a.author(href="/author/"+author.id) #{author.firstname + ' ' + author.lastname + ' ' + author.quantity}
      else
        li No authors


mixin pagerBox(pageable)
    if (!pageable.isFirst())
      a(href="?page=0" +'&size=' +pageable['size'])  first
    else
      span first

    if (pageable.hasPrevious())
      a(href="?page="+(pageable.number-1) +'&size=' +pageable['size'])  prev
    else
      span prev

    - var p=0
    while p < pageable.totalPages
      if (p==pageable.number)
        span= p+1
      else
        a(href="?page="+(p) +'&size=' +pageable['size'])= p+1
      - p++

    if (pageable.hasNext())
      a(href="?page="+(pageable.number+1) +'&size=' +pageable['size'])  next
    else
      span next

    if (!pageable.isLast())
      a(href="?page="+(pageable.totalPages-1) +'&size=' +pageable['size'])  last
    else
      span last

mixin pageSizeBox(pageable, itemsPerPageText)
  span.dropdown #{pageable['size'] + itemsPerPageText}
     span.dropdown-content
       each pageSize in [5, 10, 15, 20, 50]
         if (pageSize != pageable['size'])
            a(href="?page=0&size="+pageSize)= pageSize + itemsPerPageText